@using AutoCow.Models
@model Cow_profile

@section title{
    <title>
        All Cows | Registered
    </title>
}


<div class="col-sm-12 col-xl-12 mt-2">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Our Special ones</h6>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item text-center">
                <img class="img-fluid mx-auto mb-4 w-100 h-100" src="~/images/dairy.png">
                <h5 class="mb-1">They made us!!!</h5>

            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle mx-auto mb-4" src="~/images/cow_logo.jpg" style="width: 150px; height: 150px;">
                <h5 class="mb-1">Want to Add a cow?</h5>
                <button asp-controller="Cow_Profile" asp-action="Add" id="AddCow" class="btn btn-dark text-light mb-3 align-content-end">
                    <a href="Add">Add</a>
                </button>

                <p class="mb-0">Let's add another one into the bucket. The more there are the better it will be. '</p>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle mx-auto mb-4" src="~/images/cow3.jpg" style="width: 200px; height: 150px;">
                <h5 class="mb-1">Cow id: @ViewBag.Cows[ViewBag.size -1].id</h5>
                <p>@ViewBag.Cows[ViewBag.size -1].type</p>
                <p class="mb-0">With color @ViewBag.Cows[ViewBag.size -1].color is up for @ViewBag.Cows[ViewBag.size -1].price . It provides with an average milk of @ViewBag.Cows[ViewBag.size -1].avg_milk L </p>
            </div>

        </div>
    </div>
</div>











<br />
<br />
<button id="convertButton" class="btn btn-secondary mb-3 align-content-end m-2" style="text-align:end"><i class="fas fa-table me-2"></i></button>
<button id="convertToCards" class="btn btn-secondary mb-3 align-content-end m-2" style="text-align:end"><i class="fas fa-file me-2"></i></button>


<div class="row m-2" id="cardContainer">
    @foreach (Cow_profile item in ViewBag.Cows)
    {
        <div class="col-md-4">
        <div class="card shadow-sm mb-3 bg-secondary">
            <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-hippo me-2"></i>Cow: @item.id</h5>
                <p class="card-text">Type:  @item.type</p>
                    <p class="card-text"><i class="fas fa-money me-2"></i>Price: @item.price</p>
                    <p class="card-text"><i class="fas fa-glass-whiskey me-2"></i>Avg-Milk: @item.avg_milk L </p>
                <p class="card-text">Avg-Temperature: @item.avg_temperature</p>
                <p class="card-text">Category: @item.category</p>

                <div class="d-flex justify-content-between">
                         <input type="submit" value="Update" class="btn btn-primary">

                        <button class="btn btn-primary btn-sm "><a asp-controller="Cow_Profile" asp-action="deleteCow" asp-route-id="@item.id" class="text-white">Delete</a></button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#convertButton").click(function () {
            var tableHtml = "<table class='table'><thead><tr><th>ID</th><th>Type</th><th>Price</th></tr></thead><tbody>";

            $("#cardContainer .card").each(function () {
                var id = $(this).find(".card-title:eq(0)").text().replace("ID: ", "");
                var type = $(this).find(".card-text:eq(0)").text().replace("Type: ", "");
                var price = $(this).find(".card-text:eq(1)").text().replace("Price: $", "");

                tableHtml += "<tr><td>" + id + "</td><td>" + type + "</td><td>" + price + "</td></tr>";
            });

            tableHtml += "</tbody></table>";

            $("#cardContainer").html(tableHtml);
        });

        var originalHtml = $("#cardContainer").html(); // Store the original card layout

        $("#convertToCards").click(function () {
            var isTable = $("#cardContainer table").length > 0;

            if (isTable) {
                $("#cardContainer").html(originalHtml); // Restore the original card layout
            }
        });
    });
    </script>