
<head>
	<link rel="stylesheet" type="text/css" href="~/css/leaderboardStyle.css">
</head>

@section title{
	<title>
		Leaderboard 
	</title>
}

<div class="container">
	<br />
	<h3>Leaderboard <i class="material-icons opacity-10" style="font-size:24px;">leaderboard</i></h3>
	<br>
	

	<div class="row">
		<div class="col-sm-4">
			<div class="leaderboard-card bg-secondary">
				<div class="leaderboard-card__top bg-info">
					<h3 class="text-center">@ViewBag.leaderboard[1].milk L</h3>
				</div>
				<div class="leaderboard-card__body">
					<div class="text-center">
						<img src="~/images/cow1.jpg" class="circle-img mb-2" alt="User Img">
						<h5 class="mb-0">Cow_id = @ViewBag.leaderboard[1].id</h5>
						<p class="text-muted mb-0">@ViewBag.leaderboard[1].type</p>
						<hr>
						<div class="d-flex justify-content-between align-items-center">
							<span><i class="fa fa-map-marker"></i> Bangalore</span>
							<button class="btn btn-dark btn-sm"><a asp-controller="Cow_Profile" asp-action="Profile" asp-route-id="@ViewBag.leaderboard[1].id">Profile</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="leaderboard-card leaderboard-card--first bg-secondary">
				<div class="leaderboard-card__top">
					<h3 class="text-center">@ViewBag.leaderboard[0].milk L</h3>
				</div>
				<div class="leaderboard-card__body">
					<div class="text-center">
						<img src="~/images/cow2.jpg" class="circle-img mb-2" alt="User Img">
						<h5 class="mb-0">Cow_id = @ViewBag.leaderboard[0].id</h5>
						<p class="text-muted mb-0">@ViewBag.leaderboard[0].type</p>
						<hr>
						<div class="d-flex justify-content-between align-items-center">
							<span><i class="fa fa-map-marker"></i> Bangalore</span>
							<button class="btn btn-dark btn-sm"><a asp-controller="Cow_Profile" asp-action="Profile" asp-route-id="@ViewBag.leaderboard[0].id">Profile</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="leaderboard-card bg-secondary">
				<div class="leaderboard-card__top bg-info">
					<h3 class="text-center">@ViewBag.leaderboard[2].milk L</h3>
				</div>
				<div class="leaderboard-card__body">
					<div class="text-center">
						<img src="~/images/cow3.jpg" class="circle-img mb-2" alt="User Img">
						<h5 class="mb-0">Cow_id = @ViewBag.leaderboard[2].id</h5>
						<p class="text-muted mb-0">@ViewBag.leaderboard[2].type</p>
						<hr>
						<div class="d-flex justify-content-between align-items-center">
							<span><i class="fa fa-map-marker"></i> Bangalore</span>
							<button class="btn btn-dark btn-sm"><a asp-controller="Cow_Profile" asp-action="Profile" asp-route-id="@ViewBag.leaderboard[2].id">Profile</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="col-lg-13">
		<div class="card z-index-2 bg-secondary">
			<div class="card-header pb-0">
				<h4>All Cows</h4>
				<p class="text-sm">
					<i class="fa fa-arrow-up text-success"></i>
					<span class="font-weight-bold">this week</span> till @DateTime.Now
				</p>
			</div>


			<!---------------Table Leaderboard---------->


			<div class="col-12">
				<div class="bg-secondary rounded h-100 p-4">
					<h6 class="mb-4">Leaderboard</h6>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th style="text-align:center">Cow</th>
									<th style="text-align:center">Type</th>
									<th style="text-align:center">Milk Production</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.leaderboard)
								{
									<tr>

										<td style="text-align:center"> @item.id</td>
										<td style="text-align:center"> @item.type</td>
										<td style="text-align:center"> @item.milk L</td>
										<td>
											<button class="btn btn-dark btn-sm"><a asp-controller="Cow_Profile" asp-action="Profile" asp-route-id="@item.id">Profile</a></button>
										</td>
									</tr>
								}
								</tbody>
								</table>

								<!--------Table end----------->


		</div>

	</div>
