@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<head>
@section title{
    <title>

        Auto Cow | Dashboard

    </title>
}


    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- CSS Files -->



    <link id="pagestyle" href="./assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />

    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>


</head>

<!----------------------------------------Revenue----------------------------->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card bg-secondary">
                <div class="card-header p-3 pt-2">
                    
                    <div class=" pt-1 ">
                        <i class="fa fa-money fa-3x text-success"></i>
                        <br>
                        <p class="text-sm mb-0 text-capitalize">Revenue</p>
                        <h4 class="mb-0 text-end" id="milk_cost"></h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span> last week</p>
                </div>
            </div>
        </div>
<!----------------------------------Milk Production------------------------------------------------>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card bg-secondary">
                <div class="card-header p-3 pt-2">
                    
                    <div class="pt-1">
                        <i class="fas fa-burn fa-3x text-primary"></i>
                        <br>
                        <p class="text-sm mb-0 text-capitalize ">Milk Production</p>
                        <h4 class="mb-0 text-end" id="TotalMilk"></h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span> last week</p>
                </div>
            </div>
        </div>



<!-----------------------------------Emergency Cases----------------------------------------------------------->

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card bg-secondary">
                <div class="card-header p-3 pt-2">
                    <div class=" pt-1">
                        <i class="fa fa-medkit fa-3x text-primary"></i>
                        <br>
                        <p class="text-sm mb-0 text-capitalize">Emergency Cases</p>
                        <h4 class="mb-0 text-end" id="alerts">0</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3" id="cases">
                    <p class="mb-0"> Critical &nbsp;<span class="text-danger text-sm font-weight-bolder" id="critical_no">-</span></p>
                    <p class="mb-0"> Unhealthy &nbsp;<span class="text-warning text-sm font-weight-bolder" id="unhealthy_no">-</span></p>

                </div>
            </div>
        </div>

<!------------------------------------Today's Total---------------------------------------------------------------------------->
        <div class="col-xl-3 col-sm-6">
            <div class="card bg-secondary">
                <div class="card-header p-3 pt-2">
                    
                    <div class=" pt-1">
                        <i class="fa fa-calendar fa-3x text-success"></i>
                        <br>
                        <p class="text-sm mb-0 text-capitalize">Today's</p>
                        <h4 class="mb-0 text-end" id="today"></h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder" id="today_avg"> </span>than average</p>
                </div>
            </div>
        </div>
    </div>
        <br />
        


    <!-- Production Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Worldwide Sales</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="daily_planChart" class="chart-canvas" height="170"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Salse & Revenue</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="productionChart" class="chart-canvas" height="170"></canvas>

                </div>
            </div>
        </div>
    </div>

    <br>
    <br />
    <!-----------------------------Top 3---------------------------------------->

    <div class="col-lg-13">
        <div class="card z-index-2 bg-secondary">
            <div class="card-header pb-0">
                <h4>Top 3</h4>
                <p class="text-sm">
                    <i class="fa fa-arrow-up text-success"></i>
                    <span class="font-weight-bold">this week</span> till @DateTime.Now
                </p>
            </div>


            <!---------------Table Leaderboard---------->


            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Leaderboard</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Cow</th>
                                    <th style="text-align:center">Type</th>
                                    <th style="text-align:center">Milk Production</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(var i  = 0; i < 3; i++)
                                {
                                    <tr>

                                        <td style="text-align:center"> @ViewBag.leaderboard[i].id</td>
                                        <td style="text-align:center"> @ViewBag.leaderboard[i].type</td>
                                        <td style="text-align:center"> @ViewBag.leaderboard[i].milk L</td>
                                        <td>
                                            <button class="btn btn-dark btn-sm"><a asp-controller="Cow_Profile" asp-action="Profile" asp-route-id="@ViewBag.leaderboard[i].id">Profile</a></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!--------Table end----------->


                    </div>

                </div>

                            <!--------Table end----------->


    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>




    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>


    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/material-dashboard.js"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">

    //------------------------------------Line Chart---------------------------//

    var dates = @Html.Raw(ViewBag.Dates);
    var milkProductions = @Html.Raw(ViewBag.MilkProductions);



    var ctx = document.getElementById('productionChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Milk Production',
                data: milkProductions,
                backgroundColor: 'white',
                borderColor: 'orange',
                borderWidth: 2,

            }
            ]
        },
        options: {
            responsive: true,
            scales: {

                y: {
                    ticks: { color: 'white', beginAtZero: true }
                },
                x: {
                    ticks: { color: 'white', beginAtZero: true }
                }

            }

        }

    }
    )

    //----------------------------Bar Chart ----------------------------------------//

    var bar_dates = @Html.Raw(ViewBag.bar_dates);
    var bar_milk = @Html.Raw(ViewBag.bar_milk);
    var bar_types = @Html.Raw(ViewBag.bar_types);

    var sahiwal_milk = [];
    var brahman_milk = [];
    var sindhi_milk = [];

    for (var i = 0; i < bar_dates.length; i++) {
        if (bar_types[i] == "Cross Breed") {
            sahiwal_milk.push(bar_milk[i]);
        }
        else if (bar_types[i] == "Normal Breed") {
            brahman_milk.push(bar_milk[i]);
        }
        
    }

    const unique_dates = [...new Set(bar_dates)];


    const bar = document.getElementById("daily_planChart").getContext("2d");
    var barChart = new Chart(bar, {
        scaleFontColor: "white",
        type: 'bar',
        data: {
            labels: unique_dates,
            datasets: [
                {
                    label: 'Cross Breed',
                    data: sahiwal_milk,
                    backgroundColor: 'red'
                    
                },
                {
                    label: 'Normal Breed',
                    data: brahman_milk,
                    backgroundColor: 'white'
                },
                
            ]
        },
        options: {
            responsive: true,
            categoryPercentage: 0.4,
            scales: {

                y: {
                    ticks: { color: 'white', beginAtZero: true }
                },
                x: {
                    ticks: { color: 'white', beginAtZero: true }
                }
                    
            }
             
        }
    });

    //---------------------------------------------------------------//

    
    //-------------------------------------------------------------------------------//


    var Sahiwal_count = 0;
    var Brahman_count = 0;
    var Sindhi_count = 0;

    for (var i = 0; i < sahiwal_milk.length; i++) {
        Sahiwal_count += sahiwal_milk[i];
    }

    for (var i = 0; i < brahman_milk.length; i++) {
        Brahman_count += brahman_milk[i];
    }

    
    var total_milk = Sahiwal_count + Brahman_count;
    var cost = 180;
    var milk_cost = (cost * total_milk)/1000;
    document.getElementById("milk_cost").innerHTML = "Rs " + milk_cost + "k";

    document.getElementById("TotalMilk").innerHTML = total_milk + "L";
    
    //-------------------------------------------------------------------------------------------//

    var alert_conditions = @Html.Raw(ViewBag.alert_conditions);
    var alert_counts = @Html.Raw(ViewBag.alert_counts);
   

    var total_alerts = 0;
    var critical = 0;
    var unhealthy = 0;
    for (var j = 0; j < alert_counts.length; j++) {
        if (alert_conditions[j] == "critical") {
            critical += alert_counts[j];
            total_alerts += alert_counts[j]; 
        }
        else if (alert_conditions[j] == "unhealthy") {
                unhealthy += alert_counts[j];
                total_alerts += alert_counts[j];     
        }
    }

        document.getElementById("critical_no").innerHTML = critical;
        document.getElementById("unhealthy_no").innerHTML = unhealthy;
    

    document.getElementById("alerts").innerHTML = total_alerts;

    var averageProduction = @Html.Raw(ViewBag.averageProduction);
    var today_milk = milkProductions[milkProductions.length -1];
    var difference = Math.abs(averageProduction - today_milk);
    document.getElementById("today").innerHTML = today_milk + "L";
    var today_avg = (difference/averageProduction)*100;
    if(averageProduction > today_milk){
    document.getElementById("today_avg").innerHTML = "-" + parseInt(today_avg) + "% ";
    }
    else{
    document.getElementById("today_avg").innerHTML = "+" + parseInt(today_avg) + "% ";
    }


    
    
    
</script>

